@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

*{
margin: 0;
padding: 0;
}

.slidebar{
    background-color: rgb(52, 52, 71);
    width: 200px;
    height: 1000px;
    font-family: 'Noto Serif', serif;
}
.slidebar nav{
    color: rgb(23, 210, 63);
    padding: 30px;
}

.slidebar nav li{
     list-style: none;
     font-size: 15px;
     padding: 20px;
}

.slidebar nav li a{
    text-decoration: none;
    color: aliceblue;
    
}
.slidebar nav li a:hover{
    background-color: aliceblue;
    color: rgb(32, 96, 153);
    
}

.main{
    background-color: rgb(221, 88, 195);
    color: rgb(0, 0, 0);
    width: 85vw;
    height: 1000px;
   
}
.container{
    display: flex;
}

.infoContainer{
    background-color: rgb(178, 126, 178);
    height: 50vh;
    width: 75vw;
    margin: 50px auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding-left: 10px;
    padding-top: 10px;
    
     
}

.divinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hello{
    font-size: 50px;
}
.name{
    font-size: 30px;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
}
.about{
    font-size: 20px;
}
.moreabout{
    margin-top: 15px;
}
.buttons button{
    margin: 10px;
    background-color: rgb(111, 233, 255);
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    
}
.buttons button a{
    text-decoration: none;
}
.buttons button:hover{
    color: rgb(111, 233, 255);
    background-color: rgb(0, 0, 0);

}

.divpic img{
    height: 50vh;
    align-items: right;
}

<!--CV-->

.details[open] summary {
    background-color: blueviolet;
}
.cinfo{
    margin: 15px;
    padding-left: 20px;
}


<!--hire-->


.hireform{
    font-family: 'Courier New', Courier, monospace;
    
}
.hireform diva h3{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: black;
}

.cbutton button{
    margin: 10px;
    background-color: rgb(0, 98, 20);
    color: rgb(0, 0, 0);
    font-size: 10px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    
}
.cbutton button a{
    text-decoration: none;
    flex-direction: row;
}
.cbutton button:hover{
    color: rgb(0, 98, 20);
    background-color: rgb(0, 0, 0);

}

.hireform form div{
    display: flex;
    flex-direction: column;
    
    padding-top: 10px;
    margin: 5px;
    width: 15vw;
}
.hireform form div input{
    border-radius: 5px;
    font-size: 10px;

}

<!--Education-->

.specialize-head{ 
    text-align: center; 
    padding: 0 20% ; 
} 
 
.parent{ 
    display: flex; 
    padding: 0 10%; 
} 
 
.child{ 
    box-shadow: 10px 5px 40px rgb(138, 2, 73); 
    margin: 2%; 
    padding: 50px; 
    border-radius: 0 20px  20px 0 ; 
    border-left: 5px solid; 
    border-image: linear-gradient(rgb(38, 171, 60),rgb(204, 195, 63)) 0 100%; 
    width: 30%; 
    background-color: rgb(63, 195, 81);
}

<!--Hobby-->


.sub1{
    
    height: 200px;
    width: 100%;
    border: 2px solid black;
}

.ginfo{
    text-align: center;
   margin-top: 100px;
   margin-left: 150px;
   margin-right: 250px;
   font-size: 20px;
   position: absolute;
    
   
}
.ginfo1{
    text-align: center;
   margin-top: 150px;
   margin-left: 50px;
   font-size: 20px;
   position: absolute;
   

}

.gimage img{
    margin-left: 500px;
    position: relative;
    width:550px;
    border-radius: 10%;
    box-shadow: 10px 5px 40px rgb(0, 0, 0);
    padding: 5px;
    

}



.sub2{
    height: 200px;
    width: 100%;
    
    
}

.dinfo{
    text-align: center;
   margin-top: 100px;
   margin-left: 150px;
   margin-right: 250px;
   font-size: 20px;
   position: absolute;
    
   
}
.dinfo1{
    text-align: center;
   margin-top: 150px;
   margin-left: 50px;
   font-size: 20px;
   position: absolute;
   

}

.dimage img{
    margin-left: 500px;
    position: relative;
    width:550px;
    
    border-radius: 10%;
    box-shadow: 10px 5px 40px rgb(0, 0, 0);
    padding: 5px;
    

}









.main h2 {
    text-align: center;
    font-style: bold;
     font-size: 50px;
     color: rgb(0, 0, 0);
     box-shadow: 10px 5px 40px rgb(177, 48, 114); 
    

}

.footer{
    text-align: center;
    text-shadow: 5px;
    color: rgb(0, 136, 255);
    background-color: blueviolet;
}